body {
    color: #222;
    background: #fff;
}

a {
    color: #0033cc;
}

/* Dark Mode styles */
body.dark-theme {
    color: #eee;
    background: #121212;
}

body.dark-theme a {
    color: #809fff;
}


h3 {
    font-size: 1.5em;
}

.container {
    text-align: center;
    margin-top: 350px;
}

#btn-toggle {
    margin: 15px;
    cursor: pointer;
    font-size: 2em;
}